@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@800&family=Raleway:wght@400;700&display=swap');

body {
    color: #465c69;
    background-color: #f2f4ff;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0
}

main {
    padding: .5em;
}

h1 {
    font-family: 'Life Savers', cursive;
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #465c69;
    color: #f2f4ff;
    padding: 1em;
    border-top: .3em solid #C2DFFF;
    border-bottom: .3em solid #C2DFFF;
}

.heading h1 {
    font-size: 1.5em;
    display: inline;
}

.heading p {
    margin: 0;
    font-size: .7em;
    font-weight: 700;
}

header img {
    height: 50px;
    padding: .3em;
}

nav {
    background-color: #C2DFFF;
    position: sticky;
    top: 0;

}

#pancakes {
    font-size: 1em;
    background-color: #eab934;
    font-weight: 900;
    text-align: center;
    padding: .5em;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75em;
    text-align: left;
    text-decoration: none;
    font-weight: 700;
}

.navigation a:link {
    color: #465c69;
}

.navigation a:active {
    color: #465c69;
}

.navigation a:visited {
    color: #465c69;
}

.navigation a:hover {
    color: #f2f4ff;
    background-color: #465c69;
}

.active {
    border: 3px dashed #eab934;
}

.responsive li {
    display: block;
}

.description {
    display: none;
}

.lazyload {
    display: grid;
    grid-template-columns: 300px;
    grid-gap: 2em;

    margin-bottom: 2em;
}

.card {
    box-shadow: 0 8px 15px rgba(0, 0, 0, .15);
}

.card:hover {
    box-shadow: 10px 18px 18px rgba(0, 0, 0, 0.25);
}

.card img {
    display: block;
    margin: auto;
}

.caption {
    padding: 1em;
}

hr {
    border: 2px solid #eab934;
    border-radius: 4px;
}

.contactinfo {
    text-align: center;
}

.contactinfo img {
    display: none;
}

.details {
    font-size: 1em;
}

.details a {
    text-decoration: none;
    margin-right: 10px;
}

.details a:link {
    color: #465c69;
}

.details a:visited {
    color: #465c69;
}

.details a:hover {
    color: #eab934;
    ;
}

footer {
    font-weight: 700;
    width: 100%;
    padding: .5em;
    background-color: #C2DFFF;
    text-align: center;
    border-top: .2em solid #eab934;
    border-bottom: .2em solid #eab934;
    font-size: .8em;
}

footer a {
    text-decoration: none;

}

footer a:visited {
    color: #465c69;
}

footer a:link {
    color: #465c69;
}

footer a:hover {
    color: #f2f4ff;
}