@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400&family=Sansita+Swashed:wght@400;800&display=swap');

body {
    font-family: 'Jura', sans-serif;
    background-color: #344058;
    color: #344058;
}

main {
    background-color: white;
    margin: auto;
    margin-top: 5em;
    padding: 1em;
}

h1,
h2 {
    font-family: 'Sansita Swashed', cursive;
    color: #B2262A;
    text-align: center;
}


header {
    display: flex;
    align-items: center;
    background-color: #8C929E;
}

header img {
    width: 75px;
    margin-top: 1em;
}

header section h1 {
    display: inline;
    color: #B2262A;
    font-size: 2em;
    margin-left: .2em;
}

#weather-alerts {
    display: block;
    font-size: 1.3em;
    background-color: #B2262A;
    text-align: center;
    color: white;
    font-weight: 400;
    padding: .5em
}

.weatherupdate {
    text-align: center;
    margin: auto;
    font-size: 1.5em;
}
.weatherupdate table {
    margin: auto;
}

.navigation ul {
    font-size: 1em;
    position: relative;
}

.drop-down-contents {
    position: absolute;
    z-index: 1;
    background-color: #344058;
    width: 100%;
}

.navigation {
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
    list-style: none;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    color: white;
}

.navigation a:link,
.navigation a:active,
.navigation a:visited {
    color: white;
}

#inline:link,
#inline:active,
#inline:visited {
    color: #344058;
    text-decoration: none;
}
#inline:hover {
    color: #B2262A;
}

.navigation a:hover {
    color: #f2f4ff;
    transition: .5s;
    background-color: #B2262A;
}

.responsive li {
    display: block;
}

.active {
    border: 5px solid #B2262A;
}

.home {
    position: relative;
}

.home img {
    display: block;
    margin: auto;
    width: 100%;
    opacity: .8;
}

.home a {
    text-decoration: none;
    list-style-type: square;
}

.catch-and-call {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: .7em;

}

.catch-and-call h2 {
    color: #344058;
}

#requirements {
    max-width: 600px;
    margin: auto;
    padding: 1em;
    line-height: 1.8em;
    list-style-type: square;
}

#booknow {
    border: .2em solid #344058;
    width: 20%;
    margin: auto;
    padding: .5em;
    background-color: #B2262A;
    color: white;
}

#booknow:hover {
    transition: .5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(21, 24, 9, 0.5);
}

#table {
    overflow: auto;
    width: 75%;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid #344058;
}

#table tr,
td,
th {
    border: .1em solid #344058;
    padding: .5em;
    text-align: center;
    font-size: .8em;
}

#table thead tr:nth-child(1) {
    color: white;
    background: #344058;
}

iframe {
    width: 15em;
    height: 15em;
    border: 0;
    margin: auto;
}

form {
    text-align: center;
}

label {
    display: block;
    padding: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input,
textarea {
    display: block;
    margin-top: .2em;
    padding: .5em;
    font-size: 1em;
    margin: 1em auto;
}

.onside {
    display: inline-flex;
}

select {
    -webkit-appearance: none;
    margin: .3em;
    padding: .5em;
    color: #344058;
    font-size: 1em;
}

input[type=radio] {
    margin-right: .5em;
    transform: scale(1.5);
}

.danger {
    margin: 0;
}

.submitButton {
    border: none;
    background-color: #B2262A;
    color: white;
    border-radius: .6rem;
    padding: 1rem;
    margin: 2em auto;
    width: 75%;
    max-width: 12rem;
}

form p {
    overflow: auto;
    border: 2px solid black;
    padding: 1em;
}


.prices tr:nth-child(odd) {
    background: rgba(194, 193, 203, .4);
}

.summary {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 1em;
    padding-bottom: 1.5em;
}

.grid {
    display: grid;
    grid-gap: 1em;
}

.grid div,
.grid section {
    width: 75%;
    margin: auto;
    text-align: center;
}

.rentals img:hover {
    transition: .5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(21, 24, 9, 0.5);
}

.rentals img {
    display: block;
    margin: auto;
    width: 250px;
}

.social {
    padding: 1.5em;
}

.social img {
    width: 20px;
    border-radius: 50%;
    margin: 1em;
}

.social img:hover {
    box-shadow: 0 0 7px #344058;
}

footer {
    color: white;
    background-color: #8C929E;
    padding: 1em;
    text-align: center;
    font-size: .7em;
}

footer a:link,
footer a:active,
footer a:visited {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #B2262A;
}