@media only screen and (min-width: 760px) {
    main {
        max-width: 600px;
        margin: auto;
        font-size: 20px;
    }

    header img {
        height: 100px;
    }

    .heading h1 {
        font-size: 3.5em;
    }


    .heading p {
        font-size: 1.5em;
    }

    #pancakes {
        font-size: 1.3em;
    }

    nav {
        font-size: 1.2em;
    }

    .weatherupdate {
        font-size: 1em;
    }

    .article img {
        float: left;
        margin: 20px;
    }

    .article h3 {
        display: inline-block;
    }

    #forecast {
        font-size: 1em;
        display: flex;
    }

    #forecast img {
        width: 40px;
        margin: 10px -15px;
    }

    .contactinfo img {
        display: block;
        float: left;
        height: 200px;
        margin: 1em;
    }

    .details {
        float: right;
        text-align: left;
    }

    .clearfix {
        overflow: auto;
    }

    footer {
        font-size: 1em;
    }
}