@media only screen and (max-width: 850px) {
    body {
        font-size: 1em;
    }

    header img {
        display: block;
        width: 50px;
        margin: 0 auto;
        padding: .8em;
    }

    #menu {
        display: grid;
        padding: .2em;

    }

    #menu span {
        padding: .2em;
    }

    tr,
    td,
    th {
        padding: .2em;
    }


    #footer {
        font-size: .6em;
    }

}