@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@800&family=Raleway:wght@400;700&display=swap');

body {
    color: #465c69;
    background-color: #f2f4ff;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

main {
    padding: .2em;
}

header img {
    display: block;
    margin: auto;
    width: 4em;
    padding: .3em;
}

h1 {
    font-family: 'Life Savers', cursive;
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
}
#menu {
    font-weight: 700;
    background-color: #465c69;
    color: #f2f4ff;
    border-top: .2em solid #C2DFFF;
    border-bottom: .2em solid #C2DFFF;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#menu span {
    text-align: center;
    padding: .3em;
}
#menu a {
    text-decoration: none;
    display: block;
    padding: .3em;
}

#menu a:link {
    color: #f2f4ff;
}

#menu a:visited {
    color: #f2f4ff;
}

#menu a:hover {
    color: #eab934;
}

.active {
    padding: .3em;
    background-color: #96c5f7;
}

table {
    width: 75%;
    margin: auto;
    border: .2em solid #eab934;
}

tr,
td,
th {
    padding: .5em;
}

th {
    text-align: left;
}

.color li {
    list-style-type: square;
    padding: .2em;
}

#yellow {
    width: 100%;
    background-color: #eab934;
    padding: .5em;
    font-weight: 700;
    text-align: center;
}

#darkblue {
    width: 100%;
    background-color: #465c69;
    color: #f2f4ff;
    font-weight: 700;
    padding: .5em;
    text-align: center;
}

#lightblue {
    width: 100%;
    background-color: #96c5f7;
    color: #465c69f;
    font-weight: 700;
    padding: .5em;
    text-align: center;
}

#lighterblue {
    width: 100%;
    background-color: #C2DFFF;
    color: #465c69f;
    font-weight: 700;
    padding: .5em;
    text-align: center;
}

#white {
    width: 100%;
    background-color: #f2f4ff;
    color: #465c69f;
    font-weight: 700;
    padding: .5em;
    text-align: center;
}

.needs-a-border {
    border: .1em solid #465c69;
    width: 300px;
}

.example {
    margin: 1em auto;
    padding: 1.5em;
    background-color: #465c69;
    color: #f2f4ff;
    font-weight: 700;
    width: 50%;
    text-align: center;
    border: 5px solid #96c5f7;
}

#footer {
    font-weight: 700;
    width: 100%;
    padding: .5em;
    background-color: #C2DFFF;
    text-align: center;
    border-top: .2em solid #eab934;
    border-bottom: .2em solid #eab934;
    font-size: .8em;
}

#footer a {
    text-decoration: none;

}

#footer a:visited {
    color: #465c69;
}

#footer a:link {
    color: #465c69;
}

#footer a:hover {
    color: #f2f4ff;
}